.top-bar {
    background-color: white;
    padding-top: 20px;
    padding-bottom: 10px;
    position: sticky;
    top: 0px;
    z-index: 7;
}

.top-bar .logo {
    max-height: 50px;
}



@media screen and (max-width: 600px) {
    .top-bar {
        padding-top: 15px;
        padding-bottom: 5px;
    }
    .top-bar .logo {
        position: relative;
        left: 50%;
        transform: translate(-50%);
        max-height: 35px;
    }
}